body {
  background-color: navy;
  text-align: center;
}

header {
  background: url('https://images.unsplash.com/photo-1515165562839-978bbcf18277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') rgb(0%,0%,0%);
  background-blend-mode: multiply;
  align-items: center;
}