html {
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  font-family: "Assistant";

}

.fontass {
  font-family: "Assistant";
  color: #fff;
}

.highlight {
  background-color: darkviolet;
}

.fontaudi {
  font-family: "Audiowide";
  color: #fff;
}

.title {
  color:#fff;
  margin: 0 !important;
  font-family: "Assistant";
  font-size: 9rem;
  font-weight: bold;
}

.projectstitle {
  color:#fff;
  margin: 0 !important;
  font-family: "Audiowide";
  font-size: 5rem;
  font-weight: lighter;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  position: sticky;
  top: 0px;
  border-radius: 30px;
  box-shadow: 7px 7px 5px #000000;
}

.logo img {
  height: 60px; /* Adjust the height as needed */
}

.navigation {
  flex-grow: 1;
  text-align: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px; /* Add spacing between navigation items */
  height: 100%;
}

.navigation a {
  text-decoration: none;
  color: #333333;
  font-family: "Audiowide";
  font-size: 2rem;
  padding: 8px 16px;
  transition: all .2s ease-in-out; /* Add transition effect */
}

.navigation a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 40px;
  transform: scale(1.1);
}

.button {
  text-align: right;
}

.button a {
  padding: 8px 16px;
  font-size: 2rem;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  font-family: "Audiowide";
  transition: all .2s ease-in-out; /* Add transition effect */
}

.button a:hover {
  background-color: #f0f0f0;
  color: #333333;
  transform: scale(1.1);
}

.subtitle {
  color:#fff;
  font-family: "Assistant";
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 0;
}

#projectssub {
  color:#fff;
  font-family: "Assistant";
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

body {
  background: url(assets/images/back.jpeg) #000000aa;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0px !important;
}

html::-webkit-scrollbar {
  display: none;
}

.headwrap {
  padding: 12px;
  position: sticky;
  top: 0px;
}



.banner {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#details {
  height: 30vh;
  background-color: #19255a;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
}

#pfp {
  text-align: left;
  width: 21rem;
  border-radius: 3rem;
}

#details p {
  text-align: left;
  font-size: 2rem;
  font-family: "Assistant";
  color: #fff;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.links a {
  color: #999;
}

.links a:hover {
  color: #fff;
  text-decoration: none;
}

.button {
  text-decoration: none;
}

.badge {
  border-radius: 1px;
  margin-left: 0.5rem;
  height: 2rem;
}

.border {
  width: 100%;
  height: fit-content;
  margin-bottom: -5px;
  margin-top: -5px;
  padding: 0;
}

#continued {
  background-color: #286a8c;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

#continued ul {
  list-style: none;
  padding: 0;
  margin: 0.2rem;
  font-size: 2rem;
}

#socials {
  text-align: center;
  background-color: #400587;
}

#statsimg {
  margin-left: 2rem;
}

#projects {
  background-color: #142d41;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.project {
  background-color: #1f3a4d;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project img {
  width: 20rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.project-title {
  font-size: 4rem;
  color: #fff;
}

.project-details {
  color: #fff;
  text-align: left;
}

.project-description {
  font-size: 1.75rem;
}