body {
    background: url(./assets/images/bg_v2.png) #5c1919;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: visible;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-stretch: ultra-expanded;
}

/* hide scrollbar */
body::-webkit-scrollbar {
    display: none; /* Safari and Chrome browsers */
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#referrerbanner.bannerhidden {
    display: none;
}

#referrerbanner {
    position: fixed;
    background-color: #000;
    z-index: 99999999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: 'Assistant', sans-serif;
    color: white;
    padding: 0.5rem;
}

#referrerbanner p {
    margin: 0.25rem;
    padding: 0;
}

#referrerbanner a { 
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

#referrerbanner a:hover {
    text-decoration: none;
}

#referrerbanner button {
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 6%;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

#referrerbanner button:hover {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

#referrerbanner button:active {
    transform: scale(0.9);
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
    font-family: 'Inconsolata', monospace;
}

.navbar ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .navbar a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }
}

.navbar a:hover {
    color: #f00;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    position: fixed !important;
    width: 100%;
    top: 0;
}

.name h1 {
    font-size: 7rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: 10000;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .name h1 {
        font-size: 4.5rem;
    }
}

.sectionopener, .contactbutton, #submit {
    border: 2px solid #fff;
    border-radius: 6%;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sectionopener:hover, .contactbutton:hover {
    background: #fff;
    color: #000;
    font-size: 1.6rem;
}

#submit:hover {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

.sectionopener:active, .contactbutton:active, #submit:active {
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .sectionsbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        top: 0;
    }
}

/* animated glitching text effect on .glitch */

.glitch {
    font-weight: bold;
    position: relative;
    text-shadow: 0.05em 0 0 #0000ff, -0.03em -0.04em 0 #ff0000,
      0.025em 0.04em 0 #00ff00;
    animation: glitch 725ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #0000ff, -0.03em -0.04em 0 #ff0000,
        0.025em 0.04em 0 #00ff00;
    }
    15% {
      text-shadow: 0.05em 0 0 #0000ff, -0.03em -0.04em 0 #ff0000,
        0.025em 0.04em 0 #00ff00;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #0000ff, 0.025em 0.035em 0 #ff0000,
        -0.05em -0.05em 0 #00ff00;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #0000ff, 0.025em 0.035em 0 #ff0000,
        -0.05em -0.05em 0 #00ff00;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #0000ff, 0.03em 0 0 #ff0000,
        0 -0.04em 0 #00ff00;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #0000ff, 0.03em 0 0 #ff0000,
        0 -0.04em 0 #00ff00;
    }
    100% {
      text-shadow: -0.05em 0 0 #0000ff, -0.025em -0.04em 0 #ff0000,
        -0.04em -0.025em 0 #00ff00;
    }
  }

/* end of animated glitching text effect on .glitch */

.popup {
  opacity: 0;
  visibility: hidden;
  /* fix to bottom but scroll up with page */
  position: fixed;
  width: 100%;
  bottom: -100%;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
  z-index: 1000;
  }

.popup.active {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.popupcontent {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Inconsolata:wght@300&family=Unbounded:wght@900&display=swap');

.popupcontent h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  color: #ffffffbb;
}

.popupcontent p {
  font-size: large;
  font-family: 'Assistant', sans-serif;
}

.popupcontent a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.popupcontent a:hover {
  color: #f00;
}

.wrapper {
  /* smooth translition between pages */
  transition: opacity 0.3s ease-in-out !important; 
}

.viewportspacer {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  color: white;
}

.header h1 {
  margin-top: 4.5rem;
  margin-bottom: 1rem;
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 4.5rem;
  }
}

.header p {
  font-size: 1.5rem;
  margin: 0;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: left;
  height: 100%;
  width: 90%;
  font-family: 'Assistant', sans-serif;
  color: white;
  margin: 2rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .project {
    width: 85%;
    display: block;
    text-align: center;
    margin: 0;
  }
}

.project-info h1 {
  font-size: 5rem;
}

@media (max-width: 768px) {
  .project-info h1 {
    font-size: 4.5rem;
  }
}

.project-info p {
  font-size: 1.5rem;
}

.project-image img {
  width: 30rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .project-image img {
    width: 100%;
    margin-right: 0;
  }
}

.project-buttons a {
  text-decoration: none;
  text-shadow: 0, -10px, 10px, #0000ff;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #000;
  border-radius: 1rem;
}

.project-buttons a:hover {
  background: #fff;
  color: #000;
  font-size: 1.6rem;
}

#form {
  width: 70%
}

#contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  color: white;
}

#contact-tube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  color: white;
}

#contact-details label {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
}

#contact-tube input {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 1rem;
  background: #000000bb;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact-tube textarea {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 1rem;
  background: #000000bb;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

#thanksbanner {
  background-color: #000;
  z-index: 99999999999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  color: white;
}

#thanksbanner p {
  padding-top: 0.5em;
}

#thanksbanner button {
  margin-bottom: 0.5em;
}