html {
  margin: 0;
}

.title {
  color:#fff;
  margin: 0 !important;
  font-family: "Assistant";
  font-size: 9rem;
  font-weight: bold;
}

.subtitle {
  color:#fff;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

body {
  background-color: navy;
  margin: 0px !important;
  display: inline;
  height: 100%;
}

header {
  background: rgb(0%,0%,0%);
  float: center;
  width: 100%;
  margin: 0%;
  top: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
}

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #666;
  padding: 6px;
  text-align: center;
}

.navelement {
  display: inline;
  margin: 0;

}

.navbutton {
  padding: 8px;
  border-radius: 25px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.navelement a:hover {
  background-color: #333;
}

.header {
  position: sticky;
  top: 0px;
  bottom: 0px;
}

#bannerlogo {
  position: sticky;
  top: 0px;
}

#topbar {
  margin: 0 !important;
  width: 100%;
  height: 100px;
  background-color: black;
}

#banner {
  background: url(assets/images/bg.png) rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 !important;
  align-items: center;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  padding: 5rem;
  height: 85vh;
  z-index: -1;
  alignment: center;
}

#logo {
  width: 75%;
  position: sticky;
  top: 0px;
}

#test {
  height: 100vh;
}